<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/foundation.min.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>

    <div class="row">
      <div class="large-12 columns">
        <h1>{{ title }}</h1>
      </div>
    </div>

    {### User ###}
    <div class="row">
      <div class="large-6 medium-6 columns">
        <div class="panel">
          <h4>Welcome, {{ name }}.</h4>

          <p>If this isn't you, please <a href="http://energyfreedom-beyondzeroemissions.nationbuilder.com/logout?page_id=17">sign out</a> and try again.</p>
        </div>
      </div>
    </div>

    {### BEGIN FORM ###}

    {### House ###}

    <div>
      <div>
        <div class="row">
          <div class="large-6 medium-6 columns">
            <p>What type of house do you have?</p>
          </div>
          <div class="large-6 medium-6 columns">
            <p>{{ house_type }}
                {% if house_type_other is defined %} {{ house_type_other }} {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-6 medium-6 columns">
        <p>What are your walls constructed from?</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>
          {% if brick_veneer == true %} Brick veneer<br/> {% endif %}
          {% if double_brick == true %} Double brick<br/> {% endif %}
          {% if weatherboard == true %} Weatherboard<br/> {% endif %}
          {% if al_cladding == true %} Aluminium cladding<br/> {% endif %}
          {% if panels == true %} Structurally integrated panels<br/> {% endif %}
          {% if wall_construction_other is defined %} {{ wall_construction_other }}<br/> {% endif %}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-6 medium-6 columns">
        <p>What kind of insulation do you have in your walls?</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>
          {% if wall_batts == true %} Batts<br/> {% endif %}
          {% if wall_infill == true %} Foam infill<br/> {% endif %}
          {% if wall_foil == true %} Reflective foil<br/> {% endif %}
          {% if no_ins == true %} No insulation<br/> {% endif %}
          {% if wall_insulation_other is defined %} {{ wall_insulation_other }}<br/> {% endif %}
        </p>
      </div>
    </div>

    {### Roof ###}

    <div class="row">

      <hr>

      <div class="large-6 medium-6 columns">
        <p>What is your roof constructed from?</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>
          {% if tiles is defined %} Tiles<br/> {% endif %}
          {% if corrugated_metal is defined %} Corrugated metal<br/> {% endif %}
          {% if slate is defined %} Slate<br/> {% endif %}
          {% if roof_construction_other is defined %} {{ roof_construction_other }}<br/> {% endif %}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-6 medium-6 columns">
        <p>What kind of insulation do you have in your roof?</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>
          {% if roof_batts == true %} Batts<br/> {% endif %}
          {% if roof_infill == true %} Foam infill<br/> {% endif %}
          {% if roof_foil == true %} Reflective foil<br/> {% endif %}
          {% if no_roof_ins == true %} No insulation<br/> {% endif %}
          {% if roof_insulation_other is defined %} {{ roof_insulation_other }}<br/> {% endif %}
        </p>
      </div>
    </div>

    {### Floor ###}

    <div class="row">

      <hr>

      <div class="large-6 medium-6 columns">
        <p>What is your floor constructed from?</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>
          {% if slab_on_ground == true %} Concrete slab on ground<br/> {% endif %}
          {% if slab_off_ground == true %} Concrete slab off ground<br/> {% endif %}
          {% if timber_boards == true %} Timber boards<br/> {% endif %}
          {% if floor_construction_other is defined %} {{ floor_construction_other }}<br/> {% endif %}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-6 medium-6 columns">
        <p>What kind of underfloor insulation do you have?</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>
          {% if floor_batts == true %} Batts<br/> {% endif %}
          {% if floor_infill == true %} Foam infill<br/> {% endif %}
          {% if floor_foil == true %} Reflective foil<br/> {% endif %}
          {% if no_floor_ins == true %} No insulation<br/> {% endif %}
            {% if floor_insulation_other is defined %} {{ floor_insulation_other }}<br/> {% endif %}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-6 medium-6 columns">
        <p>Floor coverings</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>
          {% if rooms_carpeted is defined %} {{ rooms_carpeted }} rooms carpeted<br/> {% endif %}
          {% if rooms_tiled is defined %} {{ rooms_tiled }} rooms tiled<br/> {% endif %}
          {% if rooms_timber_floors is defined %} {{ rooms_timber_floors }} rooms with timber floors {% endif %}
        </p>
      </div>
    </div>

    {### Windows ###}

    <div class="row">

      <hr>

      <div class="large-12 columns">
        <p>What type of windows do you have?</p>
      </div>
    </div>

    <div class="row">
      <div class="large-6 medium-6 columns">
        <p>Glazing</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>
          {% if windows_glazing is defined %} {{ windows_glazing }} {% endif %}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-6 medium-6 columns">
        <p>Frame</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>
          {% if window_frame is defined %} {{ window_frame }} <br/> {% endif %}
          {% if window_frame_other is defined %} {{ window_frame_other }} {% endif %}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <p>What type of window coverings do you have?</p>
      </div>
    </div>

    <div class="row">
      <div class="large-6 medium-6 columns">
        <p>Internal</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>
          {% if window_coverings_internal is defined %} {{ window_coverings_internal }} <br/> {% endif %}
          {% if other_internal is defined %} {{ other_internal }} <br/> {% endif %}
          {% if window_coverings_internal_pelmets == true %} {{ window_coverings_internal_pelmets }} <br/> {% endif %}
          {% if no_pelmets == true %} {{ no_pelmets }} {% endif %}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-6 medium-6 columns">
        <p>External</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>
          {% if window_coverings_external is defined %} {{ window_coverings_external }} <br/> {% endif %}
          {% if other_external is defined %} {{ other_external }} {% endif %}
        </p>
      </div>
    </div>

    {### Heating and cooling ###}

    <div class="row">

      <hr>

      <div class="large-6 medium-6 columns">
        <p>How do you heat your home?</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>
          {% if heating_gas_ducted == true %} Gas ducted<br/> {% endif %}
          {% if heating_gas_room == true %} Gas in room<br/> {% endif %}
          {% if heating_electric_ducted == true %} Electric ducted<br/> {% endif %}
          {% if heating_electric_wall_radiator == true %} Electric on wall radiator<br/> {% endif %}
          {% if heating_electric_portable_radiator == true %} Electric portable radiator<br/> {% endif %}
          {% if heating_electric_oil_bar_header == true %} Electric oil/bar heater<br/> {% endif %}
          {% if heating_hydronic_heating_wall == true %} Hydronic heating on wall<br/> {% endif %}
          {% if heating_hydronic_heating_slab == true %} Hydronic heating in slab<br/> {% endif %}
          {% if heating_reverse_cycle_pre_2000 == true %} Reverse cycle air conditioner installed pre 2000<br/> {% endif %}
          {% if heating_reverse_cycle_post_2000 == true %} Reverse cycle air conditioner installed post 2000<br/> {% endif %}
          {% if heating_wood_fired == true %} Wood-fired heating {% endif %}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-6 medium-6 columns">
        <p>How do you cool your home?</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>
          {% if cooling_reverse_cycle_pre_2000 == true %} Reverse cycle air conditioner installed pre 2000<br/> {% endif %}
          {% if cooling_reverse_cycle_post_2000 == true %} Reverse cycle air conditioner installed post 2000<br/> {% endif %}
          {% if cooling_ceiling_fan == true %} Ceiling fan<br/> {% endif %}
          {% if cooling_ducted_evaporative_cooling == true %} Ducted evaporated cooling<br/> {% endif %}
          {% if cooling_room_evaporative_cooling == true %} In room evaporated cooling {% endif %}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-6 medium-6 columns">
        <p>How do you cook?</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>
          {% if cooking_gas_cooktop == true %} Gas cooktop<br/> {% endif %}
          {% if cooking_electric_ceramic_cooktop == true %} Electric ceramic<br/> {% endif %}
          {% if cooking_induction_cooktop == true %} Induction cooktop<br/> {% endif %}
          {% if cooking_electric_oven == true %} Electric oven<br/> {% endif %}
          {% if cooking_gas_oven == true %} Gas oven {% endif %}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-6 medium-6 columns">
        <p>How do you heat your water?</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>{% if hot_water is defined %} {{ hot_water }} {% endif %} </p>
      </div>
    </div>

    {### Energy freedom ###}

    <div class="row">

      <hr>

      <div class="large-4 medium-4 columns">
        <p>How close are you to producing more electricity than you use and achieving Energy Freedom?</p>
      </div>
      <div class="large-8 medium-8 columns">
        <p>{% if energy_production is defined %} {{ energy_production }} {% endif %} </p>
      </div>
    </div>

    <div class="row">
      <div class="large-6 medium-6 columns">
        <p>What actions have you already taken?</p>
      </div>
      <div class="large-6 medium-6 columns">
        <p>
          {% if action_display == true %} In-home display connected to your smart meter<br/> {% endif %}
          {% if action_led == true %} Replaced Halogen downlights with LEDs<br/> {% endif %}
          {% if action_draft_proofing == true %} Draught-proofing measures<br/> {% endif %}
          {% if action_reverse_cycle == true %} High efficiency reverse cycle air conditioner/s<br/> {% endif %}
          {% if action_efficiency_appliances == true %} High efficiency appliances<br/> {% endif %}
          {% if action_double_glazing == true %} Retrofitted double glazing for your windows<br/> {% endif %}
          {% if action_wall_insulation == true %} Retrofitted wall insulation<br/> {% endif %}
          {% if action_solar == true %} Installed rooftop solar – {{ solar_amount }} {% endif %}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <p>Comments, other ideas, etc.</p>
        {% if volunteer_signup_content is defined %} {{ volunteer_signup_content }} {% endif %}
      </div>
    </div>

    {### END FORM ###}

    <div class="row">
      <div class="large-4 medium-4 columns">
        <p><a href="#" class="small radius button">Submit</a></p>
      </div>
    </div>

    <div class="row">

      <hr>

      <div class="large-12 columns">
        <p><a href="/">Start again.</a></p>
      </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
